
/*---------------------TIPOGRAFÃA-----------------------------*/


/* contenido principal*/
nav + div
{
	min-height: 700px;
}

nav + div > div
{
	margin-top: 5%;
}

#content img {
	border-radius: 10%;
	width: 100px;
}

section form{
	padding: 5%;
}

footer{
	padding: 1%;
	height: 65px;
}


/*********************COLOR**************************/
/*http://paletton.com/#uid=23I0u0kqjik6PlzgVksAKgnUbdC*/

body {
	background-color: #193361;
}

.navbar-inverse {
	background-color: #193361;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}


.side-nav>li>ul>li>a {
    color: #FFFFFF;
}
.top-nav>li>a {
    color: #FFFFFF;
}
.side-nav {
    background-color: #193361;
}

.panel-success {
	border-color: #193361;
	background: #AC9F87;
	-webkit-box-shadow: 0 3px 3px;
	-moz-box-shadow: 0 3px 3px;
	box-shadow: 0 3px 3px;
} 

footer{
	color: #FFFFFF;
	background: #193361;
}