/*---------------------------ANIMACIONES-------------------------*/


/*---------------------TIPOGRAFÃA-----------------------------*/


/* contenido principal*/
nav + div
{
	height: 550px;
}

nav + div > div
{
	margin-top: 5%;
}


