
/*---------------------TIPOGRAFÃA-----------------------------*/


/* contenido principal*/


.dataTables_filter .input-group-addon {
    width: 32px;
    margin-top: 0;
    float: left;
    height: 32px;
    padding-top: 8px;
}

ul.ColVis_collection {
    padding: 8px 8px 4px;
    margin: 0;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0);
    background-color: #011A48;
    overflow: hidden;
    z-index: 2002;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0);
    -ms-box-shadow: 3px 3px 5px rgba(0,0,0,0);
    -o-box-shadow: 3px 3px 5px rgba(0,0,0,0);
    box-shadow: 3px 3px 5px rgba(0,0,0,0);
}

button.ColVis_Button, ul.ColVis_collection li {
    position: relative;
    float: left;
    margin-right: 3px;
    padding: 5px 8px;
    border: 1px solid #AC9F87;
    cursor: pointer;
    font-size: .88em;
    color: #000!important;
	white-space: nowrap;
}

ul.ColVis_collection li {
    position: relative;
    height: auto;
    left: 0;
    right: 0;
    padding: .5em;
    display: block;
    float: none;
    margin-bottom: 4px;
    -webkit-box-shadow: 1px 1px 3px #AC9F87;
    -moz-box-shadow: 1px 1px 3px #AC9F87;
    -ms-box-shadow: 1px 1px 3px #AC9F87;
    -o-box-shadow: 1px 1px 3px #AC9F87;
    box-shadow: 1px 1px 3px #AC9F87;
    text-align: left;
}

div.ColVis_collectionBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	background-color: #000;
	opacity: 0;
    z-index: 1100;
}

ul.ColVis_collection {
    width: 175px;
}

nav + div
{
	min-height: 700px;
}

nav + div > div
{
	margin-top: 5%;
}

#content img{
	border-radius: 10%;
	width: 100px;
}

#login header img
{
	margin: 1% 1% auto;
	border-radius: 10%;
	width: 100px;
	opacity: 0.5;
}

section form{
	padding: 5%;
}

#usuarioDetalle-form input
{
    width: 50%
}

footer{
	padding: 1%;
	height: 65px;
}


/*********************COLOR**************************/
/*http://paletton.com/#uid=23I0u0kqjik6PlzgVksAKgnUbdC*/

body, .text-muted {
    color: #000000;
}

.error
{
    color: red;
}

.navbar-inverse {
	background-color: #011A48;
    border-color: #000000;
}

.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}

.btn-default {
    color: #000000;
    background-color: #ffffff;
    border-color: #AC9F87;
}

.btn-success {
    color: #fff;
    background-color: #193261;
    border-color: #193261;
}

.btn-danger {
    color: #fff;
    background-color:#761c19;
    border-color:#761c19;
}

.btn-warning {
    color: #fff;
    background-color: #AC9F87;
    border-color: #AC9F87;
}

.btn-success.focus,.btn-success:focus{
    color:#fff;
    background-color:#6C4600;
    border-color:#6C4600
}
.btn-success:hover{
    color:#fff;
    background-color:#6C4600;
    border-color:#6C4600
}

.btn-danger.focus,.btn-danger:focus{
    color:#fff;
    background-color: red;
    border-color: red;
}
.btn-danger:hover{
    color:#fff;
    background-color: red;
    border-color: red;
}

.btn-warning.focus,.btn-warning:focus{
    color:#fff;
    background-color:#ec971f;
    border-color:#ec971f
}
.btn-warning:hover{
    color:#fff;
    background-color:#ec971f;
    border-color:#ec971f
}

input, .form-control, .select2-container--default .select2-selection--single {
    color: #000000;
    border: 1px solid #AC9F87;
}

legend{
    color: #000000;
    font-weight: bold;
}


.side-nav>li>ul>li>a {
    color: #FFFFFF;
}
.top-nav>li>a {
    color: #FFFFFF;
}
.side-nav {
    background-color: #011A48;
}

.panel-success {
	border-color: #011A48;
	background: #AC9F87;
	-webkit-box-shadow: 0 3px 3px;
	-moz-box-shadow: 0 3px 3px;
	box-shadow: 0 3px 3px;
} 

footer{
	color: #FFFFFF;
    background: #011A48;
    border-color: #000000;
}